html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/

}


body {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #333;
}

#wrap {
    min-width: 1400px;
    overflow: hidden;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
    width: 100%;
    height: 78px;
    border-bottom: 4px solid #E47E28;
}

.inner_header {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo img {
    padding: 13px 0;
    height: 45px;
    display: block;
}


.nav {
    display: flex;
    gap: 40px;
    font-weight: 600;
    color: #E47E28;
    padding: 20px 0;
}

.nav a:hover {
    color: #9D4800;
}


#banner .swiper {
    width: 100%;
    height: 800px;
    padding-top: 78px;
}

#banner .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#banner .swiper {
    margin-left: auto;
    margin-right: auto;
}

/* swiper 불릿 수정 */

#banner .swiper-horizontal>.swiper-pagination-bullets,
#banner .swiper-pagination-bullets.swiper-pagination-horizontal,
#banner .swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 20px);
}

/* 불릿 색상 바꾸기 */
#banner .swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 0.5;
    box-shadow: 0 0 3px #E47E28;
}

#banner .swiper-pagination-bullet-active {
    background-color: #9D4800;
    width: 8px;
    border-radius: 5px;
    transition: width 0.5s;
}

#topBtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: #2e0306;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    z-index: 999;
    transform: translateY(0);
    transition: transform .25s ease, opacity .25s ease;
    border: 0;
}

#topBtn:hover {
    transform: translateY(-20px);
    opacity: .85;
}

/* caption1 */

#caption1 {
    width: 1320px;
    margin: 50px auto 100px;
}

#caption1 h3 {
    margin-bottom: 20px;
}

.inner_caption1 {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.caption1_img {
    width: 460px;
}

.detail {
    width: 542px;
}


.subheading {
    padding-top: 80px;
    font-weight: 800;
    font-size: 38px;
    color: #E47E28;
    text-transform: uppercase;
}

.subheading1 {
    padding-top: 80px;
    font-weight: 800;
    font-size: 32px;
    color: #E47E28;
    text-transform: uppercase;
}


.small {
    font-size: 21px;
}


.simbollogo {
    display: block;
    margin-bottom: 30px;
}



.minilogo {
    display: block;
    width: 90px;
}

.detail h5 {
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0;
}

.detail p {
    font-size: 17px;
    font-weight: 500;
    width: 800px;
}

.detail span {
    color: #ffffff;
    background-color: #E47E28;
}

.center {
    text-align: center;
}

/* caption2 */
#caption2 {
    width: 1320px;
    margin: 0 auto;
}

#caption2 h3 {
    margin-bottom: 80px;
}
.caption2-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.caption2_img {
    width: 530px;
}

.caption2_detail {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.caption2_detail h5 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 20px 0;
}

.caption2_detail p {
    font-size: 17px;
    line-height: 1.4em;
    font-weight: 500;
    color: #7a7a7a;
}

.caption2-2 img, .caption2-3 img{
    display: block;
    width: 100%;
}

/* caption3 */
#caption3 {
    width: 1320px;
    margin: 0 auto;
}
#caption3 h3 {
    margin-bottom: 80px;
}

#caption3 h5 {
    font-size: 25px;
    line-height: 1.4em;
    padding: 15px 0;
    font-weight: 700;
}

#caption3 p {
    font-size: 14px;
    line-height: 1.4em;
    font-weight: 500;
    color: #7a7a7a;
}
.caption3-1 {
    width: 924px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

.caption3-1_img {
    position: absolute;
    top: 70px;
    right: 0;
    width: 860px;
}
.caption3-1_img img {
    display: block;
    width: 100%;
}

.caption3-2 {
    width: 908px;
    margin: 0 auto;
    height: 900px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.caption3-2_img {
    width: 804px;
    position: absolute;
    top: 140px;
    left: 0;
}
.caption3-2_img img {
    width: 100%;
    display: block;
}
.caption3-2_detail {
    width: 440px;
}

.caption3-3 {
   width: 924px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

.caption3-3_img {
    position: absolute;
    top: 70px;
    right: 0;
    width: 908px;
}
.caption3-3_img img {
    display: block;
    width: 100%;
}

.caption3-4 {
    width: 940px;
    margin: 0 auto;
    height: 900px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.caption3-4_img {
    width: 930px;
    position: absolute;
    top: 80px;
    left: 0;
}
.caption3-4_img img {
    width: 100%;
    display: block;
}
.caption3-2_detail {
    width: 440px;
}



#caption4 {
    background-image: url(../images/caption4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 598px;
    color: #fff;
    margin-top: 100px;
}

.inner_cpation4 {
    width: 1320px;
    margin: auto auto;
}

.subheading2 {
    color: #4D0901;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    padding-top: 160px;
    padding-bottom: 50px;
}

.inner_cpation4 h5 {
    font-size: 35px;
    margin-bottom: 20px;
}

.inner_cpation4 p {
    font-size: 17px;
    line-height: 1.4em;
    margin-bottom: 50px;
}

.download ul {
    display: flex;
    gap: 10px;
}

.download img {
    display: block;

    border-radius: 7px;
}

.download a:hover {
    filter: brightness(90%)
}

#footer {
    background-color: #222;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    color: #cacaca;
    padding: 50px 0 70px;
}

.inner_footer h3 {
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.inner_footer p {
    font-size: 15px;
    margin-bottom: 30px;
    color: #9c9c9c;
    line-height: 1.4em;
}